@import "variables";
@import "node_modules/bulma/bulma.sass";
@import "overrides";

.has-border {
  border-width: $border-width;
  border-color: $border;
}

.injured {
  background-color: $red;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.25rem 0.4rem;
  width: 1rem;
}

div.dropdown-item.is-active {
  background-color: $orange;
  color: #fff;
}

.dropdown-item {
  cursor: default;

  &:hover {
    background-color: $orange;
  }
}

.dropdown-content {
  max-height: 450px;
  overflow-y: auto;
}

.dropdown-menu {
  width: 230px;
}

.table td {
  vertical-align: middle;
}
